body {
  margin: 0;
  font-family: 'Poppins', sans-serif; /* Poppins font */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f8f9fa; /* dark grey body */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* General adjustments for links and titles */
a.nav-link {
  font-weight: 500; /* Medium weight for nav links */
  transition: color 0.3s ease;
}

a.nav-link:hover {
  color: #e2e6ea !important; /* Lighter on hover */
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700; /* Bold titles */
  color: #343a40; /* Darker text for titles */
}

/* General syles for the main containers */
.container {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Header style */
.App-header {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow*/
}